.catalog {
  width: 1130px;
  margin: 0 auto 120px;

  @media (max-width: $desktop-width) {
    width: 648px;
    margin-bottom: 101px;
  }

  @media (max-width: $tablet-width) {
    width: 270px;
    margin-bottom: 65px;
  }
}

.catalog h2 {
  text-align: center;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  margin: 0 0 49px;

  @media (max-width: $desktop-width) {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 50px;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 31px;
  }
}

.catalog__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;

  @media (max-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.catalog__item {
  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.catalog__item:last-child {
  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}
