.contacts {
  width: 1160px;
  margin: 0 auto 120px;

  @media (max-width: $max-tablet-width) {
    width: 678px;
    margin-bottom: 100px;
  }

  @media (max-width: $max-mobile-width) {
    width: 290px;
    margin-bottom: 65px;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 500px;
  gap: 100px;
  min-height: 306px;

  @media (max-width: $max-tablet-width) {
    grid-template-columns: 1fr 324px;
    gap: 30px;
    min-height: 335px;
  }

  @media (max-width: $max-mobile-width) {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
}

.contacts__road-map {
  @media (max-width: $max-mobile-width) {
    min-height: 316px;
  }
}

.contacts__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contacts__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2px;
  font-style: normal;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 3px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 0 8px;
  }
}

.contacts__information p {
  margin: 0 0 32px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 26px;
  }
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media (max-width: $max-tablet-width) {
    align-items: flex-start;
    margin-bottom: 20px;
  }
}

.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__icon {
  margin-right: 10px;
  display: block;

  @media (max-width: $max-tablet-width) {
    margin-top: 4px;
  }
}

.contacts__item p,
.contacts__item a {
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: $base-dark-color;

  @media (max-width: $max-tablet-width) {
    width: 260px;
  }
}

.contacts__item:first-child p {
  margin: 0;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: $base-dark-color;

  @media (max-width: $max-tablet-width) {
    width: 260px;
  }
}

.contacts__item:hover a {
  opacity: 0.2;
}

.contacts__item:active a {
  opacity: 1;
}
