.control {
  position: relative;
  cursor: pointer;
  padding-left: 23px;

  @media (max-width: $max-mobile-width) {
    display: flex;
    padding-left: 28px;
    align-items: center;
    height: 20px;
  }
}

.control__mark-icon {
  display: none;
  position: absolute;
  top: 5px;
  left: 3px;
  width: 12px;
  height: 8px;
  content: "";
  z-index: 2;
  fill: $base-light-color;

  @media (max-width: $max-mobile-width) {
    top: 6px;
    left: 4px;
  }
}

.control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: $base-light-color;
  content: "";

  @media (max-width: $max-mobile-width) {
    width: 20px;
    height: 20px;
    top: 0;
  }
}

.control span:last-child {
  color: $base-light-color;
  font-size: 10px;
  line-height: 13px;

  @media (max-width: $max-mobile-width) {
    line-height: 12px;
  }
}

.control input[type="checkbox"]:checked + .control__mark-icon {
  display: block;
}
