.external {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.external__item {
  position: relative;
}

.external__item:last-child {
  margin-right: 0;
}

.external__link {
  padding: 18px;

  @media (max-width: $desktop-width) {
    padding: 14px;
  }
}

.external__link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.external__link-icon--facebook {
  @media (max-width: $desktop-width) {
    width: 9px;
    height: 16px;
  }
}

.external__link-icon--instagram {
  @media (max-width: $desktop-width) {
    width: 16px;
    height: 16px;
  }
}

.external__link-icon--twitter {
  @media (max-width: $desktop-width) {
    width: 16px;
    height: 13px;
  }
}
