.external {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0 0;
  justify-content: space-between;
  width: 117px;

  @media (max-width: $max-tablet-width) {
    width: 95px;
    margin-top: 4px;
  }

  @media (max-width: $max-tablet-width) {
    width: 90px;
    margin-top: 0;
  }
}

.external__item {
  position: relative;
}

.external__link {
  padding: 15px;

  @media (max-width: $max-tablet-width) {
    padding: 10px;
  }
}

.external__link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.external__link-icon--facebook {
  @media (max-width: $max-tablet-width) {
    width: 9px;
    height: 16px;
  }
}

.external__link-icon--instagram {
  @media (max-width: $max-tablet-width) {
    width: 16px;
    height: 16px;
  }
}

.external__link-icon--twitter {
  @media (max-width: $max-tablet-width) {
    width: 16px;
    height: 13px;
  }
}

.external__item:hover .external__link-icon {
  opacity: 0.2;
}

.external__item:active .external__link-icon {
  opacity: 1;
}
