.footer__wrapper {
  width: calc(1163 / 1366 * 100%);
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding: 46px 0 44px;

  @media (max-width: $max-tablet-width) {
    width: 678px;
    padding-left: 2px;
  }

  @media (max-width: $max-mobile-width) {
    width: 296px;
    min-height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0 38px;
    padding-left: 0;
  }
}

.footer__main {
  margin: 5px 38px 0 0;

  @media (max-width: $max-tablet-width) {
    margin-right: 22px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 0 18px 3px;
  }
}

.footer__main--active {
  pointer-events: none;
}

.footer__logo {
  fill: $base-light-color;

  @media (max-width: $max-tablet-width) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $max-mobile-width) {
    width: 42px;
    height: 22px;
  }
}
