.form__fieldset {
  border: none;
  padding: 0;
  margin: 0 0 29px;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 28px;
  }
}

.form__fieldset legend {
  color: $base-light-color;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  width: 303px;
  margin-bottom: 27px;

  @media (max-width: $max-mobile-width) {
    line-height: 25px;
    width: auto;
    text-align: center;
  }
}

.form__list {
  list-style-type: none;
  margin: 0 0 19px;
  padding: 0;
}

.form__item {
  margin-bottom: 20px;
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__item input {
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  padding: 9px 14px;
  box-sizing: border-box;
}

.form button {
  width: 100%;
  background: $base-light-color;
  border: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  padding: 11px;
  cursor: pointer;
}

.form button:hover {
  opacity: 0.2;
}

.form button:active {
  opacity: 1;
}
