.information {
  color: $base-light-color;

  @media (max-width: $max-tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.information__item {
  margin-bottom: 12px;
}

.information__item:first-child {
  margin-bottom: 22px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: auto;
  }
}

.information__item:last-child {
  margin-bottom: 0;
}

.information__item h4 {
  margin: 0;
  font-weight: 500;
}

.information__item:first-child h4 {
  margin-bottom: 10px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 1px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 10px;
  }
}

.information__item p {
  margin: 0;
  color: $gray-text-color;
  white-space: nowrap;
  overflow: hidden;

  @media (max-width: $max-tablet-width) {
    white-space: normal;

    /* stylelint-disable */

    display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

    /* stylelint-enable */
  }

  @media (max-width: $max-mobile-width) {
    white-space: nowrap;
  }
}
