.information {
  color: $base-light-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  font-size: 14px;
  height: 217px;

  @media (max-width: 1365px) {
    font-size: calc(14 / 1366 * 100vw);
    line-height: calc(20 / 1366 * 100vw);
    height: calc(217 / 1366 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    font-size: 14px;
    line-height: 20px;
    height: 217px;
  }
}

.information__item {
  margin-bottom: 12px;

  @media (max-width: 1365px) {
    margin-bottom: calc(12 / 1366 * 100vw);
  }

  @media (max-width: $max-tablet-width) {
    margin-bottom: 12px;
  }
}

.information__item:last-child {
  margin-bottom: 0;
}

.information__item h4 {
  margin: 0;
  font-weight: 500;
}

.information__item p {
  margin: 0;
  color: $gray-text-color;
}
