.intro {
  background: $dark-background-color;
  color: $light-text-color;
  background-image: url("../img/background/intro/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 650px;
  margin-bottom: 120px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/intro/back-desktop@2x.jpg");
  }

  @media (max-width: $desktop-width) {
    background-image: url("../img/background/intro/back-tablet.jpg");
    min-height: 638px;
    margin-bottom: 100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/intro/back-tablet@2x.jpg");
    }
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/background/intro/back-mobile.jpg");
    min-height: 500px;
    margin-bottom: 65px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/intro/back-mobile@2x.jpg");
    }
  }
}

.intro__wrapper {
  width: 970px;
  margin: 0 auto;
  padding-top: 283px;

  @media (max-width: $desktop-width) {
    width: 678px;
    padding-top: 280px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 185px;
    width: 290px;
  }
}

.intro__slogan {
  margin: 0 0 30px;
  font-size: 54px;
  line-height: 66px;

  @media (max-width: $desktop-width) {
    margin-bottom: 29px;
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 25px;
    font-size: 36px;
    line-height: 45px;
  }
}

.intro__description {
  margin: 0;
  font-size: 20px;
  line-height: 25px;

  @media (max-width: $desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
  }
}
