.intro {
  background: $base-dark-color;
  color: $base-light-color;
  background-image: url("../img/background/intro/back-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 650px;
  margin-bottom: 120px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/intro/back-desktop@2x.jpg");
  }

  @media (max-width: $max-tablet-width) {
    background-image: url("../img/background/intro/back-tablet.jpg");
    min-height: 638px;
    margin-bottom: 100px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/intro/back-tablet@2x.jpg");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/background/intro/back-mobile.jpg");
    min-height: 500px;
    margin-bottom: 56px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/intro/back-mobile@2x.jpg");
    }
  }
}

.intro__wrapper {
  width: calc(970 / 1366 * 100%);
  margin: 0 auto;
  padding-top: 270px;

  @media (max-width: $max-tablet-width) {
    width: 670px;
    padding-top: 268px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 175px;
    width: 290px;
  }
}

.intro__wrapper h1 {
  margin: 0 0 10px;
  font-size: 54px;
  line-height: 66px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @media (max-width: $max-tablet-width) {
    margin-bottom: 12px;
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 36px;
    line-height: 45px;
  }
}

.intro__wrapper p {
  margin: 0;
  font-size: 20px;
  line-height: 25px;

  @media (max-width: $max-tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 16px;
    width: 200px;
  }
}
