.links {
  list-style-type: none;
  margin: 0 auto 0 0;
  padding: 0;
  display: flex;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 19px;
  }
}

.links__item {
  margin-right: 27px;

  @media (max-width: $desktop-width) {
    margin-right: 18px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 7px;
  }
}

.links__item:last-child {
  margin-right: 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.links__item a {
  display: block;
  color: $base-light-color;
  text-decoration: none;
  padding: 13px 3px;
  font-size: 16px;
  font-weight: 500;

  @media (max-width: $desktop-width) {
    font-size: 12px;
    line-height: 15px;
    padding: 5px 3px;
  }
}

.links__item:hover a {
  opacity: 0.2;
}

.links__item:active a {
  opacity: 1;
}
