.nav {
  width: 1160px;
  margin: 0 auto;

  @media (max-width: $max-tablet-width) {
    width: 678px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 15px;
    width: auto;
  }
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 38px;
}

.nav--nojs .nav__wrapper {
  @media (max-width: $max-mobile-width) {
    align-items: flex-start;
    flex-direction: column;
    background: $base-light-color;
  }
}

.nav__logo {
  fill: $base-light-color;

  @media (max-width: $max-tablet-width) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $max-mobile-width) {
    width: 42px;
    height: 22px;
    margin-top: 5px;
  }
}

.nav--nojs .nav__logo {
  @media (max-width: $max-mobile-width) {
    fill: $base-dark-color;
    margin-top: 20px;
  }
}

.nav--opened .nav__logo {
  fill: $base-dark-color;
  z-index: 11;
  position: absolute;
  top: 15px;
  left: 50px;
}

.nav__list {
  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.nav--nojs .nav__list {
  @media (max-width: $max-mobile-width) {
    display: flex;
    flex-direction: column;
    position: static;
    left: 35px;
    right: 0;
    top: 0;
    z-index: 10;
    background: $base-light-color;
    min-height: 568px;
    padding: 33px 0 15px;
    box-sizing: border-box;
  }
}

.nav--opened .nav__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 35px;
  right: 0;
  top: 0;
  z-index: 10;
  background: $base-light-color;
  min-height: 568px;
  padding: 75px 15px 15px;
  box-sizing: border-box;
}

.nav__toggle {
  display: none;

  @media (max-width: $max-mobile-width) {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 25px;
    height: 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 11;
  }
}

.nav--opened .nav__toggle {
  @media (max-width: $max-mobile-width) {
    width: 16px;
    height: 30px;
  }
}

.nav__toggle-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.nav--closed .nav__toggle-icon--close-menu,
.nav--opened .nav__toggle-icon--open-menu,
.nav--nojs .nav__toggle--menu {
  display: none;
}

.nav__toggle:hover .nav__toggle-icon {
  opacity: 0.2;
}

.nav__toggle:active .nav__toggle-icon {
  opacity: 1;
}
