.page {
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-dark-color;
  background: $base-light-color;
  min-width: $mobile-width-only;
  scroll-behavior: smooth;

  @media (min-width: $mobile-width-only) {
    overflow-x: hidden;
  }
}

.page__body {
  height: 100%;
  margin: 0;
  position: relative;

  @media (min-width: $mobile-width-only) {
    overflow-x: hidden;
  }
}

.page__wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: $max-tablet-width) {
    padding-left: 4px;
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 0;
  }
}

.page__header {
  position: absolute;
  width: 100%;
  top: 33px;
  z-index: 2;

  @media (max-width: $max-tablet-width) {
    top: 20px;
  }

  @media (max-width: $max-mobile-width) {
    top: 0;
    padding-top1: 12px;
  }
}

.page__header--nojs {
  @media (max-width: $max-mobile-width) {
    position: static;
    padding-top: 0;
  }
}

.page__main {
  flex: 1 1 auto;
}

.page__footer {
  background: $base-dark-color;
}
