.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.site-list__item {
  margin-right: 34px;

  @media (max-width: $max-tablet-width) {
    margin-right: 24px;
  }

  @media (max-width: $max-mobile-width) {
    margin: 0 0 8px;
  }
}

.site-list__item:last-child {
  margin-right: 0;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 0;
  }
}

.site-list__item a {
  color: $base-light-color;
  text-decoration: none;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 500;
  display: block;

  @media (max-width: $max-tablet-width) {
    font-size: 14px;
    line-height: 18px;
  }

  @media (max-width: $max-mobile-width) {
    font-size: 18px;
    line-height: 22px;
    color: $base-dark-color;
    padding: 10px;
  }
}

.site-list__item:hover a {
  opacity: 0.2;
}

.site-list__item:active a {
  opacity: 1;
}
