.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.site-list__item {
  margin-right: 30px;

  @media (max-width: $desktop-width) {
    margin-right: 20px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 10px;
  }
}

.site-list__item:last-child {
  margin-right: 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.site-list__item-link {
  color: $light-text-color;
  text-decoration: none;
  padding: 13px 3px;
  font-size: 16px;
  font-weight: 500;
  display: block;

  @media (max-width: $desktop-width) {
    font-size: 14px;
    line-height: 18px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
    color: $dark-background-color;
    padding: 10px;
  }
}
