// Colors

$base-text-color: #011c40;
$base-background-color: #f9fbfd;
$dark-background-color: #011c40;
$light-text-color: #f9fbfd;

// Viewports

$mobile-width-only: 320px;
$tablet-width: 767px;
$desktop-width: 1365px;
