// Colors

$base-dark-color: #011c40;
$base-light-color: #f9fbfd;
$gray-text-color: #d8d8d9;
$blue-background-color: #e3ecf6;

// Viewports

$mobile-width-only: 320px;
$max-mobile-width: 767px;
$max-tablet-width: 1365px;
